/* Products */

.products-page .products .restaurant-avatars img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
}
.products-page .products .restaurant-avatars span {
  margin-top: 14px;
  font-family: "Solway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fffcfc;
}
.products-page .products .product-wrapper {
  margin-left: 25px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.products-page .products .product-wrapper.no-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
}
.products-data3 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  color: #e3c08d;

  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-size: 35px;
}

.products-page .products .avatar-box {
  width: 360px;
  height: 28.541px;
  position: relative;
  left: 50px;
  flex-shrink: 0;
  border-radius: 18.5px;
  border: 1px solid #fff;
  background: #fffcfc;
  box-shadow: 0px 4px 4px 0px rgba(212, 212, 212, 0.25);
  font-size: 20px;
}

.products-page .products .top_text {
  position: relative;
  left: 300px;
}
.products-page .products .single_button_search {
  position: relative;
  right: 50px;
  top: -3px;
  width: 106px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 18.5px;
  background: #343434;
}
.products-page .products .avatar-box::placeholder {
  width: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 10px;
  text-transform: capitalize;
  flex-shrink: 0;
  color: #4a4a4a;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products-page .products .top_text .restaurant-name {
  width: 328px;
  height: 46px;

  flex-shrink: 0;
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* dishes menu */

.products-page .products .dishes-filter-section .dishes-filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.products-page .products .list-category-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}
.products-page .products .list-category-section .product-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 45px;
  margin-top: 80px;
}
.products-page .products .list-category-section .product-category .order {
  width: 68px;
  height: 36px;
  transform: rotate(-90deg);
  flex-shrink: 0;

  border-radius: 8px;
}
.products-page .products .list-category-section .product-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}
.products-page .products .list-category-section .product-card .product-img {
  width: 273px;
  height: 275px;
  border-radius: 0px 50px 0px 0px;
  background-size: cover;
  background-repeat: repeat;
  margin: 0 8px;
  transition: opacity 0.3s ease-in-out;
}
.products .list-category-section .product-wrapper .product-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0px 55px 0px 0px;
  background-color: #000000;
  transition: opacity 0.3s;
  opacity: 0;
}
.products .list-category-section .product-wrapper .product-img:hover::before {
  opacity: 0.4;
}

.product-img {
  position: relative; /* Ensure positioning context for pseudo-element */
  background-size: cover; /* Cover the whole element */
  background-position: center; /* Center the image */
  border-radius: 0px 55px 0px 0px;
}

.products-page
  .products
  .list-category-section
  .product-card
  .product-img
  .product-sale {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 8px;
  left: 8px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #ff9200;
  color: #fff;
  font-size: 12px;
  gap: 5px;
  box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.1);
}
.products-page .products .list-category-section .product-card .main-two {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 190px;
  transition: 0.5 linear;
}

.products-page .products .list-category-section .product-card:hover .main-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 190px;
  left: 20px;
}
.products-page
  .products
  .list-category-section
  .product-card
  .main-two
  .shop-btn {
  width: 64px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e3c08d;
  position: relative;
  z-index: 1000000;
  background: rgba(187, 47, 200, 0.78);
}

.products-page
  .products
  .list-category-section
  .product-card
  .main-two
  .view-btn
  .badge {
  position: relative;
  z-index: 1000000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  flex-shrink: 0;
  background-color: black;
  opacity: 30%;
  color: #fff;
}
.products-page
  .products
  .list-category-section
  .product-card
  .main-two
  .view-btn
  .badge
  .redeye {
  position: relative;
  z-index: 1000000000;
  color: #fff;
}

.products-page .products .list-category-section .product-desc {
  text-align: center;
  position: relative;
  top: 17px;
}
.products-page .products .list-category-section .product-desc .product-des {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #e3c08d;
  font-weight: 800;
  font-size: 22px;
}
.products-page .products .list-category-section .product-desc .product-title {
  color: #343434;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.products-page .products .pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BRAND_LOGO */

.products-page .products .brands-logo {
  height: 630px;
  flex-shrink: 0;
  background: #0d1518;
  margin-top: 80px;
}
.products-page .products .main-brand-frame .brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: 580px;
  width: 305px;
  height: 46px;
  flex-shrink: 0;
  color: #e3c08d;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.products-page .products .main-brand-frame .four-main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 106px;
}
.products-page .products .main-brand-frame .four-main .image {
  width: 258.78px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: #0d1518;
  box-shadow: 0px 0px 22px 0px #e4d4d4;
}
.products-page .products .main-brand-frame .four-main .image img {
  width: 238.874px;
  height: 330px;
  flex-shrink: 0;
  border-radius: 16px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
}
.products-page .products .address .address-area .title {
  margin-top: 47px;
  text-align: center;

  height: 53.124px;
  flex-shrink: 0;
  color: #343434;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.products-page .products .address .address-area iframe {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 90px;
  height: 567.036px;
  flex-shrink: 0;
}
/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}
